.carte {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.8rem 0;
  border-radius: 8px;
}

.titre {
  color: #1a3a5c;
}

.info {
  color: #555;
}

.prix {
  font-weight: bold;
  color: #ea7d2b;
}
.lien {
  text-decoration: none;
  color: inherit;
  display: block;
}